*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-image: linear-gradient(#012169, #183780,#012169 );
}

hr {
    border: 3px solid white;
    width: 50%;
    margin-left: 25%;
}

            /*CARD 1*/
            /*BACKGROUND IMAGE EDIT*/ 
.card1 {
    background-image: url(img/m.png);
    background-size: cover;
    background-position: center;
    color: white;
    height: 500px;
    padding: 0%;
    margin: 0%;
}
            /*HEADDING EDIT*/
.card1 h3 {
    text-align: center;
    padding-top: 10px;
    font-family: 'Abril Fatface'; font-size: 42px;
    font-weight: bold;

}
            /*PARAGRAPH EDIT*/
.card1 p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    font-weight: bolde;
    font-size: large;
}

            /*CARD 1 CIRCLE IMAGE EDIT*/
.card1 img {
     border-radius: 100%;
     border: 5px solid #012169;
     width: 280px;
     height: 280px;
     display: block;
     margin-left: auto;
     margin-right: auto;
     padding-top: 6px;
     box-shadow: black 1px 1px 50px 1px;

}





            /*CARD 2*/

.card2 {
    background-image: url(img/white-concrete-wall.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    height: 500px;
    padding: 0%;
    margin: 0%;
}

           /*CARD 2 CIRCLE IMAGE EDIT*/
.card2 img {
    width: 280px;
    height: 280px;
    margin: 50px;
   
       
 }
             /*HEADDING EDIT*/
.card2 h3 {
    text-align: center;
    padding-top: 13px;
    font-family: 'Abril Fatface'; font-size: 42px;
    font-weight: bold;
    color: #012169;
    
}
            /*card 2 div edit*/
.card2 div{
    display: flex;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolde;
    font-size: large;
    text-align: center;
    
    
}
            /*card 2 description edit*/
.card2 div div {
    margin-top: 50px;
    margin-left: 120px;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolde;
    font-size: large;
}





            /*CARD 3*/

.card3 {
    background-image: url(img/white-concrete-wall.jpg);
    background-size: cover;
    background-position: center;
    color: black;
    height: 500px;
    padding: 0%;
    margin: 0%;
}


           /*HEADDING EDIT*/
.card3 h3 {
    text-align: center;
    padding-top: 13px;
    font-family: 'Abril Fatface'; font-size: 42px;
    font-weight: bold;
    color: #012169;
}

            /*card 2 description edit*/
.card3 p {
    margin-top: 50px;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolde;
    font-size: x-large;
    text-align: center;
}

